include /components/social-links
include /components/scroll-indicator

.footer-screen
  .footer-screen__container.container
    .footer-screen__row.row
      .footer-screen__content
        +social-links({})
