include /components/image
include /components/scroll-indicator

.home-screen
  .home-screen__container.container
    .home-screen__row.row
      .home-screen__content
        span.home-screen__title <span>Front-end</span> <br/>developer
        +image({bgimage:'images/photo.jpg', classes:'home-screen__image'})
  +scroll-indicator({})
