include /components/image

.home-screen
  .home-screen__container.container
    .home-screen__row.row
      .home-screen__content
        span.home-screen__title Denys Pavlenko
        +image({src:"images/photo.jpg", alt:"home-image", classes:"home-screen__image"})
