include /components/scroll-indicator
include /components/preview-item
-
  const data = [
    {title:'Celia', type: 'portfolio', name:'celia', preview:'http://themescode.com.ua/websites/Celia/', git:'https://github.com/DenysPavlenko/Celia', image:'images/previews/dido.png'},
    {title:'3d-Pesa', type: 'admin page', name:'3d-pesa', preview:'http://themescode.com.ua/websites/3d-pesa/dashboard.html', git:'https://github.com/DenysPavlenko/3d-pesa', image:'images/previews/dido.png'},
    {title:'NewStory', type: 'landing page', name:'newStory', preview:'http://themescode.com.ua/landing-pages/NewStory/', git:'https://github.com/DenysPavlenko/New-story', image:'images/previews/dido.png'},
    {title:'Games store', type: 'react app', name:'games-store', preview:'https://games-store-denys.herokuapp.com/', git:'https://github.com/DenysPavlenko/games-store', image:'images/previews/dido.png'},
  ]

.preview-screen.js-preview-screen
  .preview-screen__container.container
    each item, idx in data
      +preview-item({item, classes:`preview-screen__item js-preview-screen-item ${idx === 0 ? 'is-active' : ''}`})
  +scroll-indicator({})
