.header
  position: fixed
  width: 100%
  top: 0
  left: 0
  padding: 40px 0
  z-index: 100
  &__container
    display: flex
    justify-content: space-between
    align-items: center
    +container($cnt-xxl)
  &__menu-link
    user-select: none
    &.is-hidden
      display: none
