.preview-item
  +row()
  align-items: center
  justify-content: center
  &__info
    +col(5)
    +media-max($bp-sm)
      +col(10)
      order: 1
  &__image
    +col(5)
    +media-max($bp-sm)
      +col(10)
      order: 0
      margin-bottom: 30px
