*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  overflow-x: hidden;
}

a,
a:focus {
  outline: none;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

figure,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input::-ms-clear {
  display: none;
  height: 0;
  width: 0;
}

input,
select,
textarea,
button {
  font-family: inherit;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

img {
  max-width: 100%;
  border-style: none;
  display: block;
}

svg {
  display: block;
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
  max-width: 100%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.row > * {
  padding: 0 15px;
}

/* Animations */

.animated {
  opacity: 0;
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out forwards;
  animation: fadeIn 1s ease-in-out forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInUp {
  -webkit-animation: fadeInUp 1s ease-in-out forwards;
  animation: fadeInUp 1s ease-in-out forwards;
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInDown {
  -webkit-animation: fadeInDown 1s ease-in-out forwards;
  animation: fadeInDown 1s ease-in-out forwards;
}

@-webkit-keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInLeft {
  -webkit-animation: fadeInLeft 1s ease-in-out forwards;
  animation: fadeInLeft 1s ease-in-out forwards;
}

@-webkit-keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.fadeInRight {
  -webkit-animation: fadeInRight 1s ease-in-out forwards;
  animation: fadeInRight 1s ease-in-out forwards;
}

@-webkit-keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    -webkit-transform: translate3d(50px, 0, 0);
    transform: translate3d(50px, 0, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation: zoomIn 1s ease-in-out forwards;
  animation: zoomIn 1s ease-in-out forwards;
}

@-webkit-keyframes zoomIn {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

/* Typography styles */

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  color: #ffffff;
}

h3,
.h3 {
  font-size: 2.25rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.025em;
}

p,
.p {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.link {
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.link:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #3b3b3b;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(2px) scaleX(0.9) skewY(7deg);
  transform: translateY(2px) scaleX(0.9) skewY(7deg);
  opacity: 0;
}

.link:hover:after {
  -webkit-transform: translateY(0) scaleX(1) skewY(0);
  transform: translateY(0) scaleX(1) skewY(0);
  opacity: 1;
}

.image {
  display: block;
  width: 100%;
}

.image--bg {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 0;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
}

.header__menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__menu-links {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header__menu-links.is-active .header__menu-link:last-child {
  opacity: 0;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
}

.header__menu-links.is-active .header__menu-link:first-child {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.header__menu-link {
  white-space: nowrap;
  -webkit-transition: 0.5s cubic-bezier(0.5, -1, 0.5, 2);
  transition: 0.5s cubic-bezier(0.5, -1, 0.5, 2);
}

.header__menu-link:first-child {
  opacity: 0;
  -webkit-transform: translate(0, -20px);
  transform: translate(0, -20px);
}

.header__menu-link:last-child {
  position: absolute;
  -webkit-transform: translate(0, 0px);
  transform: translate(0, 0px);
  right: 0;
}

.preview-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.preview-list__item {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preview-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.preview-list__item.is-active .preview-list__item-info {
  opacity: 1;
}

.preview-list__item.is-active .preview-list__item-type {
  opacity: 1;
  visibility: visible;
}

.preview-list__item.is-active .preview-list__item-actions {
  display: block;
}

.preview-list__item.is-active .preview-list__item-line:after {
  width: 50px;
}

.preview-list__item-info {
  position: relative;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 20px;
  cursor: default;
  opacity: 0.3;
}

.preview-list__item-info:hover {
  opacity: 1;
}

.preview-list__item-title {
  display: block;
  cursor: pointer;
}

.preview-list__item-type {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -125px;
  font-size: 0.875rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3b3b3b;
  -webkit-transition: .3s;
  transition: .3s;
  text-align: right;
  display: block;
  width: 110px;
  visibility: hidden;
  opacity: 0;
}

.preview-list__item-actions {
  display: none;
}

.preview-list__item-action {
  text-transform: uppercase;
}

.preview-list__item-action:not(:last-child) {
  margin-right: 30px;
}

.preview-list__item-line {
  position: absolute;
  right: 0;
  top: 19px;
}

.preview-list__item-line:after {
  position: absolute;
  left: -50px;
  top: 0;
  display: block;
  content: '';
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #3b3b3b;
  height: 2px;
  width: 0;
}

.preview-image {
  position: relative;
  height: 480px;
}

.preview-image__item {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

.preview-image__item.is-active {
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
}

.preview-image__image {
  width: 100%;
  height: 100%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-links__link:not(:last-child) {
  margin-right: 10px;
}

.about {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 99;
  overflow: auto;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: 0.5s cubic-bezier(0.3, -0.2, 0.3, 1.2);
  transition: 0.5s cubic-bezier(0.3, -0.2, 0.3, 1.2);
}

.about.is-active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.about__row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.about__content {
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about__text {
  margin-bottom: 80px;
}

.home-screen__row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home-screen__content {
  position: relative;
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  height: 80vh;
  max-height: 800px;
  width: 100%;
  overflow: hidden;
}

.home-screen__title {
  font-size: 7.5rem;
  line-height: 1;
  font-weight: 500;
  z-index: 2;
}

.home-screen__image {
  margin-top: -40px;
}

.preview-screen__row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.preview-screen__left {
  width: 33.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

.preview-screen__right {
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-screen__row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer-screen__content {
  width: 83.33333%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1230px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 360px) {
  html,
  body {
    font-size: 15px;
  }
}