extends /layouts/main
include /components/about

block variables
  - const title = 'Portfolio'

block content
  include components/header
  +about()

  .portfolio
    .portfolio__screen.js-portfolio-screen
      include screens/home-screen
    .portfolio__screen.js-portfolio-screen
      include screens/preview-screen
    .portfolio__screen.js-portfolio-screen
      include screens/footer-screen
