extends /layouts/main
include /components/about
include /components/space-background

block variables
  - const title = 'Portfolio'

block content
  include components/preloader
  include components/header
  +about()
  +space-background()

  .portfolio.js-portfolio
    .portfolio__screen
      include screens/home-screen
    .portfolio__screen
      include screens/preview-screen
    .portfolio__screen
      include screens/footer-screen
