// Grid
$columns: 12
$gutter : 30px
// Fonts
$base-font-size  : 16px
$base-font-family: 'Roboto', sans-serif
// Containers
$cnt-xxl: 1200px
$cnt-xl : 1140px
$cnt-lg : 960px
$cnt-md : 720px
$cnt-sm : 540px
$cnt-xs : 100%
// Breakpoints
$bp-xxl: 1230px
$bp-xl : 1199px
$bp-lg : 991px
$bp-md : 767px
$bp-sm : 576px
$bp-xs : 360px
// Maps
$containers : ( $bp-xxl: $cnt-xl, $bp-xl: $cnt-lg, $bp-lg: $cnt-md, $bp-md: $cnt-sm, $bp-sm: $cnt-xs )
$breakpoints: ( $bp-xxl: 'xxl', $bp-xl: 'xl', $bp-lg: 'lg', $bp-md: 'md', $bp-sm: 'sm', $bp-xs: 'xs' )
// Main colors
$c-light: #ffffff
$c-dark : #000000
$c-muted: #3b3b3b
// UI elements
$body-bg: $c-dark
