include /components/social-links
include /components/pop-animation

mixin about()
  .about
    .about__container.container
      .about__row.row
        .about__content
          .about__text.animated.js-about-text(style="animation-delay: 0.5s")
            p Hi there, my name is Denis. I am a professional Frontend Developer with more than five years experience. I create successful websites and web applications that are fast, easy to use, and built with best practices. My current area of expertise is web development using Javascript with its frameworks and libraries such as React/Redux with associated tools, jQuery. I am a conflict-free, stress-resilient and hardworking person who is attentive to details and focused on quality of work. I like to learn and successfully apply the best development solutions and follow the most flexible and modern approaches to deliver the best results. I am ready for new challenges and I never stop improving myself to become a top web development expert.
          .about__links.animated.js-about-links
            +social-links({})
