include /components/link

.header
  .header__container
    .header__logo
      img(src="images/logo.svg", alt="logo")
    .header__menu
      .header__menu-links
        +link({text:'Back', classes:'header__menu-link'})
        +link({text:'About me', classes:'header__menu-link'})
