.home-screen
  &__row
    justify-content: center
  &__content
    position: relative
    +col(10)
    text-align: center
    height: 75vh
    max-height: 800px
    overflow: hidden
  &__title,
  &__sub-title
    font-size: rem(120px)
    line-height: 1
    font-weight: 500
  &__title
    font-family: serif
    font-style: italic
  &__image
    position: relative
    margin-top: -52px
    height: 100%
    z-index: -1
