.home-screen
  &__row
    justify-content: center
  &__content
    +col(10)
    text-align: center
  &__title
    position: relative
    font-size: rem(120px)
    line-height: 1
    font-weight: 500
    z-index: 2
  &__image
    margin-top: -40px
