.preview-screen
  &__background
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    max-height: 100vh
    z-index: -1
  &__row
    flex-direction: column
  &__item
    &:not(:last-child)
      margin-bottom: 120px
