.preview-screen
  background:
    image: url('../images/preview-screen-bg.jpg')
    repeat: no-repeat
    size: cover
    position: top center
  &__scroll
    height: 100vh
  &__row
    flex-direction: column
  &__item
    &:not(:last-child)
      margin-bottom: 120px
